.d-post-list {
  /*一列布局*/
  /*display: flex;*/
  /*width: 100%;*/
  /*flex-direction: column;*/

  /*两列布局*/
  width: 100%;
  /*列数*/
  -webkit-column-count: 2;
  column-count: 2;
  /*列间距*/
  -webkit-column-gap: 8px;
  column-gap: 8px;
}

.d-post-list-card {
  /*!*禁止跨列*!*/
  break-inside: avoid;
  /*-webkit-column-span: none;*/
  /*column-span: none;*/
}

.d-post-list-v2 {
  display: flex;
  justify-content: space-between;
}

.d-post-list-left {
  width: 49%;
}

.d-post-list-right {
  width: 49%;
}
