.post-detail-parent {
  background-color: #F5F6F7;
}

.post-detail {
  margin-left: 14px;
  margin-right: 14px;
}

.post-divider {
  margin-left: 14px;
  margin-right: 14px;
}

.post-comment-list {
  margin-left: 14px;
  margin-right: 14px;
}

.post-comment-input-view {
  padding: 8px 12px;
  overflow: hidden;
  position: fixed;

  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  justify-content: space-between;

  width: 100%;
  background-color: #fff;
}

.post-comment-input {
  background-color: #F5F6F7;
  border-radius: 25px;
  padding: 8px 16px;
  min-height: 20px;
  height: 20px;
  align-items: flex-start;

  /*width: 100%;*/
  width: calc(100% - 24px - 16px - 36px);

  font-size: 14px;
}

.post-comment-share-button {
  padding: 0;

  width: 36px;
  height: 36px;

  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  /*border-radius: 50%;*/

  background-color: #fff;
}

.post-comment-share-button::after {
  border: none;
}

.post-comment-share-icon {
  width: 65%;
  height: 65%;
  /*border-radius: 50%;*/
}
