.post-detail-parent {
  background-color: #F5F6F7;
}

.post-detail {
  margin-left: 14px;
  margin-right: 14px;
}

.post-divider {
  margin-left: 14px;
  margin-right: 14px;
}

.post-comment-list {
  margin-left: 14px;
  margin-right: 14px;
}

.post-comment-input {
  background-color: #F5F6F7;
  border-radius: 25px;
  padding: 8px;
  padding-left: 16px;
  padding-right: 16px;
  /*width: 100%;*/
  font-size: 14px;
  min-height: 20px;
  height: 20px;
}
