.create-post-parent-view {
  display: flex;
  flex-wrap: wrap;
  /*box-sizing: border-box;*/
  /*flex-direction: row;*/
  margin: 30px;
}

.create-post-title-view {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  flex-direction: row;
  width: 100%;
}

.create-post-title {
  font-size: 15px;
}

.create-post-title-view-input {
  width: 100%;
  height: 20px;
  line-height: 20px;
  min-height: 20px;

  font-size: 14px;

  padding-left: 0;
  background-color: #F5F6F7;
  /*background-color: white;*/
}

/*plcaeholder color*/
.create-post-title-view-input-placeholder {
  color: #82c6b7
}

.create-post-rule-view {
}

.create-post-rule-view-text {
  font-size: 14px;
  color: grey;
  /*color: #666666*/
  /*color: #82c6b7*/
}

.create-post-mode-view {
}

.create-post-mode-switch-view {
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: flex-end;
  flex-direction: row;
}

.create-post-cover-view {
  width: 100%
}

.create-post-cover-swiper-view {
  border-radius: 15px;
  overflow: hidden;
  width: 100%
}

.create-post-cover-swiper {
  border-radius: 15px;
  overflow: hidden;
  width: 100%
}

.create-post-cover-swiper-image {
  border-radius: 15px;
  width: 100%;
}

.create-post-button {
  width: 100%;
  height: 50px;
  /*background-color: #ffc062;*/
  /*background-color: #53A591;*/
  background-color: #82c6b7;
  border-radius: 15px;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.create-post-button::after {
  border: none;
}

.create-post-button[disabled] {
  background-color: #eaeaea;
  cursor: not-allowed;
}

/*switch style*/
.wx-switch-input {
  width: 44px !important;
  height: 24px !important;
  box-sizing: border-box;
  position: relative;
  border: 0px !important;
}

.wx-switch-input::before {
  width: 44px !important;
  height: 24px !important;
  background: #CCCCCC !important;
  border: 0px solid #CCCCCC !important;
  box-shadow: none !important;
  left: 0px;
  top: 0px;
}

.wx-switch-input::after {
  width: 20px !important;
  height: 20px !important;
  top: 2px !important;
  left: 2px !important;
  opacity: 1 !important;
  box-sizing: border-box;
  box-shadow: none !important;
  border: 0px !important;
}
