.ground-background-view {
  position: absolute;
  height: 100%;
  width: 100%;

  /*margin-top: -70px;*/

  background: -webkit-linear-gradient(top, #AAE6D8 0%, rgba(245, 246, 247, 0.00) 32%),
  -webkit-linear-gradient(top, #AAE6D8 0%, rgba(245, 246, 247, 0.00) 32%), #F5F6F7;
}

.ground-view {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  /*backdrop-filter: blur(15px);*/
}

.ground-nav-title {
  height: 40px;
  width: 100%;
  display: flex;

  /*justify-content: space-between;*/
  /*align-items: flex-end;*/

  align-items: center;
  text-align: center;
}

.ground-nav-title-create {
  margin-left: 20px;

  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #53A591;
  color: #FFF;

  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.ground-nav-title-create-icon {
}

.ground-nav-title-selector {
  padding-right: 20px;
  display: flex;
}

.ground-d-post-list {
  margin-left: 20px;
  margin-right: 20px;
}
