.ground-background-view {
  position: absolute;
  height: 100%;
  width: 100%;

  background: -webkit-linear-gradient(top, #AAE6D8 0%, rgba(245, 246, 247, 0.00) 32%),
  -webkit-linear-gradient(top, #AAE6D8 0%, rgba(245, 246, 247, 0.00) 32%), #F5F6F7;

  /*background: linear-gradient(180deg, #AAE6D8 0%, rgba(245, 246, 247, 0.00) 32%),*/
  /*linear-gradient(180deg, #AAE6D8 0%, rgba(245, 246, 247, 0.00) 32%), #F5F6F7;*/
}

.ground-view {
  /*display: flex;*/
  /*flex-wrap: wrap;*/
  /*flex-direction: column;*/
}

.ground-nav-view {
  /*设置背景透明而组件不透明*/
  background: rgba(255, 255, 255, 0);
  backdrop-filter: blur(15px);

  position: fixed;
  z-index: 99;

  width: 100%;
}

.ground-nav-title {
  width: 100%;

  display: flex;
  align-items: center;
  text-align: center;
}

.ground-nav-title-create {
  margin-left: 20px;

  border-radius: 50%;
  width: 30px;
  height: 30px;

  background-color: #53A591;
  color: #FFF;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  padding: 0;
  box-sizing: border-box;
}

.ground-nav-title-create::after {
  border: none;
}

.ground-nav-title-create-icon {
  width: 16px;
  height: 16px;
}

.ground-nav-title-create-icon {
}

.ground-nav-title-selector {
}

.ground-d-post-list {
  margin-left: 20px;
  margin-right: 20px;
}
